@()(implicit request: RequestHeader)

@main("Show Server Time") {

    <script type="text/javascript">
            var ws = new WebSocket("@controllers.timer.routes.Application.timer().webSocketURL()");

            ws.onmessage = function (evt) {
                var resultBlock = document.getElementById("result");
                resultBlock.innerHTML = "Server time: " + evt.data;
            };

            window.onbeforeunload = function () {
                ws.onclose = function () {};
                ws.close();
            }
    </script>

    <div id="result"></div>
}
