@()(implicit request: RequestHeader)

@main("How long is your string?") {

    <script type="text/javascript">
            var ws = new WebSocket("@routes.Application.charCounter().webSocketURL()");

            function SendString() {
                var inputStringField = document.getElementById("inputString");
                ws.send(inputStringField.value);
            };

            ws.onmessage = function (evt) {
                var outputField = document.getElementById("characterCount");
                outputField.value = evt.data;
            };
    </script>

    <form action = "">
        <fieldset>
            <label>Enter your string: </label>
            <input type = "text"
                   id = "inputString" />
            <input type = "button"
                   value = "Character Count"
                   onclick = "SendString()"/>
            <input type = "text"
                   id = "characterCount" />
        </fieldset>
    </form>

}
