<h3>Play2 WebSocket Samples</h3>

<ul>
    <li><a href="@routes.Application.index">Basic</a></li>
    <li><a href="@controllers.keystroke.iteratee.routes.Application.index">CharCount with Iteratee</a></li>
    <li><a href="@controllers.keystroke.actor.routes.Application.index">CharCount with Actor</a></li>
    <li><a href="@controllers.timer.routes.Application.index">Show time from server side</a></li>
</ul>
