@()(implicit request: RequestHeader)

@main("How long is your string?") {

    <script type="text/javascript">
            var ws = new WebSocket("@controllers.keystroke.actor.routes.Application.charCounter().webSocketURL()");

            function SendString() {
                var inputStringField = document.getElementById("inputString");
                ws.send(inputStringField.value);
            };

            ws.onmessage = function (evt) {
                var outputField = document.getElementById("characterCount");
                outputField.innerHTML = evt.data;
            };

            window.onbeforeunload = function() {
                ws.onclose = function () {}; // disable onclose handler before close()
                ws.close();
            };
    </script>

    <form action="">
        <fieldset>
            <label for="inputString">Enter your string: </label>
            <input type="text" id="inputString" onkeyup="SendString();"/>
        </fieldset>
    </form>

    <p>Word count: <span id="characterCount">0</span></p>

}
